<form method="post" action="/cats/search">
   First Name: <input type="text" name="FirstName" /> <br/>
   Last Name: <input type="text" name="LastName" /> <br />
   Age: <input type="number" name="Age" /> <br />
    <input type="submit" />
</form>